name: Main Workflow
on:
  push:
    branches:
      - master
      - develop
      - release

  pull_request:
      types: [opened, synchronize, reopened]
      branches: 
        - master
        - develop
        - release
jobs:
  sonarcloud:
    runs-on: ubuntu-latest
    steps:
    - name: clone repository 
      uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: SonarCloud Scan
      uses: sonarsource/sonarcloud-github-action@master
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}